* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: silver;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: rgb(251, 105, 100);
  color: white;
}

#navbar-creator {
  position: absolute;
  right: 0;
  padding-right: 5px;
}

#navbar-creator a {
  color: red;
}

#quote-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 500px;
  padding: 40px 50px;
  display: table;
  background-color: rgb(251, 105, 100);
  border-radius: 5px;
}

#quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
  color: white;
}

#quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
  color: white;
}

#buttons {
  margin-top: 10px;
}

#tweet-quote {
  padding: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 300px;
}

#new-quote {
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-decoration: none;
  border: 1px solid white;
  background-color: transparent;
}
